@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">URL không hợp lệ.</h2>
<!--Kieu-->
<!--Thong bao IP bi cam-->
<h2>@ViewBag.Message</h2>