@model Products
@{
	ViewData["Title"] = "Thêm sản phẩm";
}

<!-- PNSon 8/10/2025 Không chỉnh sửa để làm form giả test chức năng (sửa sau)-->
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Tiêu đề trang -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Thêm sản phẩm</h1>
			</div>
		</div>

		<!-- Form thêm sản phẩm -->
		<div class="row">
			<div class="col-lg-8">
				<form asp-action="AddProduct" asp-controller="Product" asp-area="Admin" method="post"
					class="row-g3 align-items-end" enctype="multipart/form-data">

					<div class="form-group">
						<label for="ProductID">Mã sản phẩm</label>
						<input asp-for="ProductID" class="form-control" readonly />
					</div>

					<div class="form-group">
						<label for="ProductName">Tên sản phẩm</label>
						<input asp-for="ProductName" class="form-control" />
						<span asp-validation-for="ProductName" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="Price">Đơn giá</label>
						<input asp-for="Price" class="form-control" type="number" step="0.01" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="DiscountPercentage">Giá khuyến mãi</label>
						<input asp-for="DiscountPercentage" class="form-control" type="number" step="0.01" />
						<span asp-validation-for="DiscountPercentage" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="Description">Mô tả</label>
						<textarea asp-for="Description" class="form-control" rows="3"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="HinhAnhFile">Hình ảnh</label>
						<input type="hidden" name="hf_num_ful" value="1" />
						<div class="col-auto" id="ful_container">
							<input type="file" id="ful_1" name="ful_1" class="form-control" />
						</div>
						<div class="col-auto">
							<button type="button" id="btn_add_ful" class="btn btn-info mt-2">Thêm hình ảnh</button>
						</div>
					</div>
					@* CHNhu - 12/10/2025 - Chỉnh lại link cho nút quay lại và xoá btn lưu + quay lại bị thừa *@
					<button type="submit" class="btn btn-success">💾 Lưu sản phẩm</button>
					<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-default">↩ Quay
						lại</a>
				</form>
			</div>
			<script>
			document.getElementById("btn_add_ful").onclick = function() {
				var container_ful = document.getElementById("ful_container");
				var child = document.createElement('input');
				var hf_num_ful = document.getElementsByName("hf_num_ful");
				hf_num_ful.value = parseInt(hf_num_ful.value) + 1;

				child.setAttribute("type", "file");
				child.setAttribute("name", "ful_" + hf_num_ful.value);
				child.setAttribute("id", "ful_" + hf_num_ful.value);
				child.classList.add("form-control");
				container_ful.appendChild(child);
			};
			</script>
		</div>
	</div>
	<!-- endPNSon -->
